<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/categories']">Categorías</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterTasks()">
      <ion-select-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input
      placeholder="Nueva tarea"
      [(ngModel)]="newTask"
    ></ion-input>
    <ion-button (click)="addTask()">Añadir</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let task of filteredTasks">
      <ion-label [class.strike-through]="task.completed">{{ task.title }}</ion-label>
      <ion-button fill="outline" slot="end" (click)="toggleTaskCompletion(task.id)">
        {{ task.completed ? 'Desmarcar' : 'Marcar como completada' }}
      </ion-button>
      <ion-button color="danger" slot="end" (click)="deleteTask(task.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>